body { background-color: #f0f0f0; margin: 0; padding: 0; min-height: 100vh; display: flex; flex-direction: column; font-family: sans-serif; }
.main-container { flex-grow: 1; display: flex; flex-direction: column; align-items: center; padding: 0px; }
.initial-start-screen { text-align: center; width: 100%; background: #fff; padding: 40px; box-shadow: 0 4px 10px rgba(0,0,0,0.1); }
.center-start-btn { background-color: #0066ff; color: white; padding: 10px 29px; font-size: 20px; border-radius: 5px; font-weight: bold; border: none; cursor: pointer; margin: 5px 0 10px 0; }
.center-start-btn:hover { background-color: #ff6600; }
.quiz-box, .report-card, .analysis-card, .leaderboard-card { max-width: 100%; width: 100%; margin: 10px auto; background: #fff; padding: 10px; box-shadow: 0 2px 5px rgba(0,0,0,0.2); }
.timer { background:#00b386; color:white; padding:0 4px; border-radius:5px; font-weight:bold; font-size:14px; width:70px; height:30px; display:flex; justify-content:center; align-items:center; }
.progress-bar-container { width: 100%; height: 18px; background-color: #e0e0e0; margin-bottom: 15px; overflow: hidden; }
.progress-bar { height: 100%; width: 0%; background-color: #ff6600; transition: width 0.4s ease; }
.question-card { border: 1px solid #ddd; padding: 5px; margin-bottom: 20px; }
.question-number-circle { width: 30px; height: 30px; border-radius: 50%; background-color: #000099; color: white; display: flex; justify-content: center; align-items: center; font-weight: bold; font-size: 14px; margin: 10px 0; }
.options .option { font-size: 16px; padding: 10px; margin: 10px 0; border: 1px solid #ccc; border-radius: 2px; background-color: #f2f2f2; cursor: pointer; }
.option.selected { background-color: #ffcc66 !important; }
.option.correct { background-color: #00cc66; color: white; }
.option.wrong { background-color: #ff3333; color: white; }
.btn-primary { background-color: #2e2eb8; color: white; }
.btn-secondary { background-color: #6c757d; color: white; }
.report-grid { display:grid; grid-template-columns:1fr 1fr; gap:10px; margin:10px 0 15px 0; }
.report-item { border:1px solid #ccc; padding: 15px 10px; text-align:center; font-weight: bold; }
.score-item { grid-column: span 2; background-color: #e6e6ff !important; }
.leaderboard-table { width: 100%; border-collapse: collapse; margin: 15px 0 20px 0; }
.leaderboard-table th, .leaderboard-table td { padding: 10px; border-bottom: 1px solid #ddd; }
.leaderboard-table th { background-color: #f2f2f2; }
.explanation-box { background-color: #ffe6cc; padding: 10px; margin: 10px 0; }
